<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="py-4">
          <h4>Register New User</h4>
        </div>
        <div class="form-wrapper my-2">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                aria-errormessage="nameError"
                required="required"
                formControlName="email"
              />
              <small
                class="form-text text-danger"
                *ngIf="
                  f['email'].invalid && (f['email'].touched || f['email'].dirty)
                "
                >Email is required.</small
              >
            </div>
  
            <div class="form-group pt-3">
              <label>First name</label>
              <input
                type="text"
                class="form-control"
                aria-errormessage="nameError"
                required="required"
                formControlName="first_name"
              />
              <small
                class="form-text text-danger"
                *ngIf="
                  f['first_name'].invalid && (f['first_name'].touched || f['first_name'].dirty)
                "
                >Firstname is required.</small
              >
            </div>

            <div class="form-group pt-3">
                <label>Last name</label>
                <input
                  type="text"
                  class="form-control"
                  aria-errormessage="nameError"
                  required="required"
                  formControlName="last_name"
                />
                <small
                  class="form-text text-danger"
                  *ngIf="
                    f['last_name'].invalid && (f['last_name'].touched || f['last_name'].dirty)
                  "
                  >Last name is required.</small
                >
              </div>
    
              <div class="form-group pt-3">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  aria-errormessage="nameError"
                  required="required"
                  formControlName="password"
                />
                <small
                  class="form-text text-danger"
                  *ngIf="
                    f['password'].invalid && (f['password'].touched || f['password'].dirty)
                  "
                  >password is required.</small
                >
              </div>
  
            <div class="d-flex justify-content-end py-4">
                <button class="btn btn-secondary mx-2" (click)="onBtnLoginClick()">Login</button>
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  