<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Tasks
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>

                  <th scope="col">start date</th>
                  <th scope="col">create at</th>

                  <th scope="col">due date</th>

                  <th scope="col">points</th>

                  <th scope="col">priority</th>
                  <th scope="col">status</th>

                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks">
                  <td>{{ task.task_name }}</td>
                  <td>{{ task.description }}</td>
                  <td>{{ task.start_date }}</td>
                  <td>{{ task.due_date }}</td>
                  <td>{{ task.created_at }}</td>
                  <td>{{ task.points }}</td>
                  <td>{{ task.priority }}</td>
                  <td>
                    <span
                      class="badge badge-lg badge-dot"
                      *ngIf="task.status === true"
                    >
                      <i class="bg-success"></i>Completed
                    </span>
                    <span
                      class="badge badge-lg badge-dot"
                      *ngIf="task.status === false"
                    >
                      <i class="bg-danger"></i>Not completed
                    </span>
                  </td>

                  <td class="text-end">
                    <a class="btn btn-sm btn-neutral">Update</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Users
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Email</th>
                  <th scope="col">First name</th>
                  <th scope="col">Last name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.email }}</td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Achievements
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Achievement Date</th>

                  <th scope="col">Details</th>
                  <th scope="col">Points Reward</th>

                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let achievement of achievements">
                  <td>{{ achievement.achievement_date }}</td>
                  <td>{{ achievement.achievement_details }}</td>
                  <td>{{ achievement.points_reward }}</td>
                  <td>{{ achievement.delayed }}</td>
                  <td>
                    <span
                      class="badge badge-lg badge-dot"
                      *ngIf="achievement.delayed === false"
                    >
                      <i class="bg-success"></i>Success
                    </span>
                    <span
                      class="badge badge-lg badge-dot"
                      *ngIf="achievement.delayed === true"
                    >
                      <i class="bg-danger"></i>Failed
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
